.expert-profile-content{
    background-color: var(--white-100);
    border: 1px solid var(--black-10);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.expert-profile-photo{
    padding-top: 12px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}
.expert-profile-avatar{
    width: 140px;
    height: 140px;
    border-radius: 240px;
    object-fit: cover;
}
.expert-profile-photo-actions{
    width: 100%;
    position: absolute;
    bottom: -12px;
    display: flex;
    justify-content: space-between;
}

.expert-profile-photo-actions button{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: var(--white-100);
    padding: 12px;
    border: 1px solid var(--black-10);

}
.expert-profile-main,
.expert-profile-contacts,
.expert-profile-prof,
.expert-profile-password{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;
}
.expert-profile-prof-content{
    border: 1px solid var(--black-10);
    border-radius: var(--radius-md);
}

.expert-profile-prof-item{
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-bottom: 1px solid var(--black-10);
}
.expert-profile-prof-item:last-child{
    border-bottom: none;
}
.expert-profile-prof-box{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 10px;
}
.expert-profile-prof-head{
    color: var(--black-50);
}
.expert-profile-prof-title{
    font-weight: 800;
}
.expert-profile-prof-text{
    font-size: 12px;
    line-height: 18px;
}

.add-lang,
.add-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: var(--radius-md);
    background-color: var(--secondary-08);
    border: 1px dashed var(--secondary-05);
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-lang:hover,
.add-link:hover {
    background-color: var(--secondary-05);
}

.add-lang img,
.add-link img{
    width: 21px;
    height: 21px;
}

.add-lang p,
.add-link p{
    width: fit-content;
    font-size: 14px;
    line-height: 21px;
    color: var(--black-100);
}

.expert-profile-prof-languages,
.expert-profile-prof-links{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
}
.expert-language,
.expert-link{
    background-color: var(--purple-08);
    border-radius: var(--radius-md);
    display: flex;
    gap: 10px;
    align-items: center;
    min-width: 230px;
    padding: 5px 7px;
}
.expert-language p,
.expert-link p{
    width: 100%;
    font-size: 12px;
    font-weight: 800;
    line-height: 18px;
    color: var(--purple-01);
}
.expert-language-delete,
.expert-link-delete{
    padding: 0;
}
.expert-language-delete img,
.expert-link-delete{
    display: flex;
    align-content: center;
}

.expert-profile-prof-experience,
.expert-profile-prof-biography {
    width: 100%;
    border: 1px solid var(--secondary-05);
    border-radius: var(--radius-md);
    padding: 16px;
    height: 150px;
}
.toolbar {
    width: 266px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toolbar-divider {
    width: 1px;
    height: 24px;
    background-color: var(--black-30);
}
.toolbar button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.2s;
}
.experience-textarea,
.biography-textarea {
    font-family: Circe;
    width: 100%;
    height: 80px;
    border: none;
    font-size: 14px;
    outline: none;
    resize: none;
}
.add-file {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: var(--radius-md);
    background-color: var(--secondary-08);
    border: 1px dashed var(--secondary-05);
    padding: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-file:hover {
    background-color: var(--secondary-05);
}

.add-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.add-file p {
    color: var(--black-100);
    text-align: center;
}







.expert-profile-buttons-save{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    gap: 10px;
    width: 100%;
    border-top: 1px solid var(--black-10);
}

.expert-profile-buttons-save button{
    width: 100%;
    padding: 10px 26px;
}











@media (max-width: 768px) {
    .expert-profile-button-main,
    .expert-profile-button-contacts,
    .expert-profile-button-prof,
    .expert-profile-button-password{
        font-size: 12px;
        line-height: 1;
        padding: 5px 10px;
    }
    .add-lang,
    .add-link{
        padding: 12px;
    }
}

@media (max-width: 640px) {
    .expert-profile-button-main,
    .expert-profile-button-contacts,
    .expert-profile-button-prof,
    .expert-profile-button-password{
        font-size: 10px;
        line-height: 1;
        padding: 4px 8px;
    }
    .add-lang,
    .add-link{
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .toolbar{
        width: 100%;
    }
}