.faq-page{
    border: 1px solid var(--black-10);
    background-color: var(--white-100);
    border-radius: 12px;
    margin-top: 20px;
}

.faq-input-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background: var(--white-100);
    border-radius: 14px;
    outline: none;
    border: 1px solid var(--secondary-05);
    padding: 4px;
}
.input-container svg{
    width: 16px;
    height: 16px;
}
.search-input-text input{
    width: 100%;
    border: none;
}
.search-input-text{
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 4px 4px 4px 16px;

}
.faq-search-btn{
    width: 116px;
    height: 42px;
    font-weight: 800;
    color: var(--white-100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 42px;
    gap: 10px;
    padding: 9px 16px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: auto;
}

.faq-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 12px;
}

.faq-content-item{
    border-radius: 12px;
    background-color: var(--background);
    padding: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq-content-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.faq-content-item-category{
    line-height: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.faq-content-item-title{
    font-size: 14px;
    line-height: 21px;
    color: var(--black-50);
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.faq-content-item-link{
    margin-top: 32px;
    font-size: 14px;
    font-weight: 800;
    color: var(--primary-02);
}

.faq-content-item-link:after{
    content: url(../img/icons/details.svg);
    margin-left: 5px;
}

.faq-answers-title{
    font-size: 24px;
}

.faq-answers .question-list-item {
    margin-bottom: 12px;
}

.faq-back-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    color: var(--black-50);
}

.faq-back-button:hover {
    color: var(--primary-01);
}

.faq-back-button img {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

@media (max-width: 640px) {
    .faq-content{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 480px) {
    .faq-search-btn{
        width: 42px;
    }
    .faq-search-btn p{
        display: none;
    }
}