.reset-page{
    display: grid;
    grid-template-columns: 42% 1fr;
}

.reset-container {
    max-width: 725px;
    padding: 60px 0 60px 60px;
    display: flex;
    flex-direction: column;
    max-height: 555px;
}
.reset-title{
    margin-top: 40px;
    margin-bottom: 40px;
}

.reset-box-1,
.reset-box-2,
.reset-box-3,
.reset-box-4,
.reset-box-error{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* этот код исключительно для  процесса верстки и не должен быть использован в реальном проекте */
.reset-box-2,
.reset-box-3,
.reset-box-4,
.reset-box-error{
    
    display: none;
}

.reset-actions{
    margin-top: auto;
}

.reset-actions a:first-child{
    color: var(--black-50);
}
.reset-actions a:last-child{
    color: var(--white-100);
}
.reset-next,
.new-password-submit,
.reset-password{
    width: 100%;
    padding: 14px;
    font-size: 14px;
    line-height: 21px;
}

.reset-text,
.new-password-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.new-password-text{
    margin-bottom: 40px;
}
.new-password{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reset-box-4 p,
.reset-box-error p {
    padding: 10px 0;
    height: 38px;
    display: flex;
    align-items: center;
}
.reset-password{
    width: 50%;
    text-align: center;}







@media (max-width: 1280px) {
    .reset-container {
        padding: 60px;
    }
    
}

@media (max-width: 1024px) {
    .reset-page {
        grid-template-columns: 35% 1fr;
    }

    .reset-container {
        padding: 40px;
    }
    
}

@media (max-width: 768px) {
    .reset-page {
        grid-template-columns: 1fr;
    }

    .reset-container {
        max-width: 100%;
        padding: 20px;
        gap: 20px;
        margin: 0;
    }

    .reset-title {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .reset-actions{
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    .reset-container {
        padding: 15px;
    }

    .reset-title {
        font-size: 24px;
    }
}

@media (max-width: 360px) {
    .reset-container {
        padding: 10px;
    }
}