/* HOME PAGE */
.home-page{
    background-color: var(--white-100);
}

/*SECTION SEARCH*/
.search-box-inner{
    max-width: 1440px;
    margin: 0 auto;
    height: 205px;
    background: var(--primary-02);
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    position: relative;
}
.search-box-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 535px;
    height: 100%;
    background: url('../img/search-box-img.png') no-repeat right;
    background-size: cover;
    mask-image: url('../img/search-mask-1.png');
    -webkit-mask-image: url('../img/search-mask-1.png');
    mask-size: cover;
    mask-position: right;
}
.search-container{
    display: flex;
    justify-content: space-between;
    max-width: 1210px;
    margin: 0 auto;
    height: 205px;
}

.search-box-title{
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
    color: var(--white-100);
}
.search-box-title span{
    color: var(--white-70);
}
.search-box-text{
    font-size: 16px;
    line-height: 25px;
    color: var(--white-100);
}
.search-form{
    display: flex;
}
.search-block {
    width: 65%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.divider {
    width: 1px;
    height: 50px;
    background-color: rgb(231, 231, 231);
}
.input-container {
    width: 795px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background: var(--white-100);
    border-radius: var(--radius-md);
    outline: none;
    border: 1px solid var(--secondary-05);
}
.input-container svg{
    width: 16px;
    height: 16px;
}
.search-input-name input{
    width: 100%;
    border: none;
}
.search-input-place input{
    width: 100%;
    border: none;
}
.search-input-name{
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 4px 4px 4px 16px;

}
.search-input-place{
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 4px 4px 4px 16px;
}
.search-input-name::placeholder,
.search-input-place::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.search-btn{
    width: 116px;
    height: 42px;
    font-weight: 800;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 42px;
    gap: 10px;
    padding: 9px 16px;
    border-radius: var(--radius-md);
    cursor: pointer;
    margin-left: auto;
}
.search-banners {
    max-width: 1210px;
    margin: -24px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.search-banner{
    display: flex;
    height: 120px;
    border-radius: var(--radius-md);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08),0px 2px 20px 0px rgba(0, 0, 0, 0.04);
    background: var(--white-100);
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s ease;
}

.search-banner:hover{
    transform: translateY(-3px);
}

.search-banner-content{
    padding: 24px 0 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: url("../img/banners-mask-1.png");
    mask-image: url("../img/banners-mask-1.png");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: left;
    mask-position: left;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 1;
}
.search-banner-text{
    width: 133px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
}
.search-banner-link{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
}
.search-banner-link p{
    margin-right: 10px;
    color: var(--primary-02);
}
.search-banner-link p::after{
    content: url(../img/icons/details.svg);
    margin-left: 10px;
}


/*FEATURES BUTTONS*/
.features-buttons-inner{
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: var(--radius-xxl);
    border: 1px solid var(--primary-07);
}
.features-buttons-link{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    padding: 6px 12px;
    color: var(--black-50);
    border-radius: var(--radius-xl);
}
.features-buttons-link:hover{
    color: var(--primary-01);
    background-color: var(--primary-08);
}


/*SECTION CATEGORIES*/
.categories{
    background-color: var(--background);
    overflow: hidden; /* Скрываем выходящие за пределы элементы */
}
.categories-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.categories-pagination{
    display: flex;
    align-items: center;
    gap: 22px;
}
.categories-pagination p{
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: var(--black-30);
}
.categories-arrow:hover path {
    stroke-opacity: 0.5;
    cursor: pointer;
}
.categories-tiles {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 161px;
}
/*Category main tiles*/
.category-tile {
    position: relative;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-md);
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.category-tile:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.category-tile a{
    width: calc(100% - 24px);
    padding: 12px;
    margin: 12px;
    border-radius: var(--radius-md);
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    background-color: var(--white-100);
    z-index: 2;
}
.category-tile img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.category-tile.color-1 {
    background: radial-gradient(50% 50% at 50% 50%, #D1DDF9 0%, #B9CCF5 100%);
    border: 1px solid var(--primary-05);
}
.category-tile.color-2 {
    background: radial-gradient(50% 50% at 50% 50%, #D2F0E5 0%, #BBE8D7 100%);
    border: 1px solid var(--green-05);
}
.category-tile.color-3 {
    background: radial-gradient(50% 50% at 50% 50%, #FDEDD1 0%, #FCE4BA 100%);
    border: 1px solid var(--secondary-05);
}
.category-tile.color-4 {
    background: radial-gradient(50% 50% at 50% 50%, #E8D6FF 0%, #DCC2FF 100%);
    border: 1px solid var(--purple-05);
}
.category-tile.color-5 {
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(253, 233, 233),rgb(250, 211, 211) 100%);
    border: 1px solid rgb(243, 146, 146);
}
.arrow-prev,
.arrow-next {
    cursor: pointer;
    transition: opacity 0.3s ease;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-prev:hover,
.arrow-next:hover {
    opacity: 0.7;
}


/*TOP EXPERTS*/
.top-experts{
    background-color: var(--green-08);
}
.top-experts-header{
    display: flex;
    justify-content: space-between;
}
.top-experts-pagination{
    display: flex;
    gap: 22px;
}
.top-experts-pagination p{
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: var(--black-30);
}
.top-experts-arrow:hover path {
    stroke-opacity: 0.5;
    cursor: pointer;
}
.top-experts-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
.top-experts-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    background-color: var(--white-100);
    border-radius: var(--radius-md);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.top-experts-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.top-experts-box{
    display: flex;
    gap: 10px;
}
.top-experts-img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
}
.top-experts-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-experts-name{
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2px;
}
.top-experts-amount{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: var(--black-100);
}
.top-experts-country::before{
    content: url(../img/icons/location.svg);
    margin-bottom: 2px;
    width: 14px;
    height: 14px;
}
.top-experts-rating::before{
    content: url(../img/icons/star.svg);
    margin-bottom: 2px;
    width: 14px;
    height: 14px;
}



/*HOW TO ORDER*/
.how-to-order{
    background-color: var(--secondary-08);
}
.how-to-order-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.how-to-order-item{
    padding: 12px;
    border-radius: var(--radius-md);
    border: 1px solid var(--black-10);
    background-color: var(--primary-08);
    transition: all 0.3s ease;
}

.how-to-order-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.how-to-order-images{
    margin: 0 auto 10px;
    max-width: 234px;
    height: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.how-to-order-ellipse-1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.how-to-order-hero{
    z-index: 2;
}
.how-to-order-ellipse-2{
    position: absolute;
    top: 0;
    right: 0;
    width: 94px;
    z-index: 3;
}
.how-to-order-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}


/*WHO NEED IT*/
.who-need-it{
    background-color: var(--primary-01);
}
.who-need-it-inner{
    border-radius: var(--radius-md);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 12px;
}

.who-need-it-left{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.who-need-it-images{
    margin: 20px auto 10px;
    max-width: 316px;
    height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.who-need-it-ellipse-1{
    position: absolute;
    top: -32px;
    left: -20px;
    z-index: 1;
}
.who-need-it-hero{
    width: 315px;
    height: 250px;
    z-index: 2;
    object-fit: cover; /* Обеспечивает, что картинка не выйдет за пределы */
    -webkit-mask-image: url("../img/who-need-it-mask.png"); /* Маска */
    mask-image: url("../img/who-need-it-mask.png");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: top center;
    mask-position: top center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.who-need-it-ellipse-2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.who-need-it-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white-100);
    z-index: 2;
}
.who-need-it-title{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}
.who-need-it-text{
    line-height: 22px;
}
.who-need-it-list li{
    line-height: 22px;
    color: var(--white-50);
    margin-bottom: 8px;
}
.who-need-it-list li:last-child{
    margin-bottom: 0;
}
.who-need-it-list li span{
    color: var(--white-100);
    font-weight: 800;
}
.who-need-it-list li:before{
    content: url(../img/icons/check.svg);
    margin-right: 12px;
}
.who-need-it-contact-md,
.who-need-it-contact-lg{
    color: var(--white-100);
}

.who-need-it-contact-md{
    display: none;
}
.who-need-it-link{
    width: fit-content;
    display: flex;
    gap: 16px;
    padding: 9px 26px 6px 40px;
    border-radius: var(--radius-md);
    background-color: var(--secondary-02);
    font-weight: 800;
    line-height: 21px;
}


/*BLOG*/
.main-blog{
    background-color: var(--purple-08);
}
.main-blog-header{
    display: flex;
    justify-content: space-between;
}
.main-blog-pagination{
    display: flex;
    gap: 22px;
}
.main-blog-pagination p{
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: var(--black-30);
}
.main-blog-arrow:hover path {
    stroke-opacity: 0.5;
    cursor: pointer;
}
.main-blog-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.main-blog-item{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border-radius: var(--radius-md);
    background-color: var(--white-100);
    height: 240px;
    transition: all 0.3s ease;
}

.main-blog-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.main-blog-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    padding: 12px;
}
.main-blog-title{
    display: block;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 5px;
    max-height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-blog-text{
    display: block;
    font-size: 14px;
    line-height: 21px;
    max-height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-blog-link{
    display: flex;
    align-items: center;
    font-weight: 800;
}
.main-blog-link p{
    margin-right: 10px;
    color: var(--primary-02);
}
.main-blog-link p::after{
    content: url(../img/icons/details.svg);
    margin-left: 10px;
}
.main-blog-img{
    width: 117px;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: url("../img/blog-mask-1.png");
    mask-image: url("../img/blog-mask-1.png");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: left;
    mask-position: left;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}



/*ADVANTAGES*/
.advantages{
    background-color: var(--background);
}
.advantages-banners{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.advantages-banner{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.advantages-banner-img{
    height: 123px;
}
.advantages-banner-title{
    font-weight: 800;
    min-height: 28px;
}
.advantages-banner-text{
    color: var(--black-50);
    line-height: 21px;
}
.advantages-numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.advantages-number{
    display: flex;
    flex-direction: column;
}
.advantages-number-title{
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
    color: var(--primary-01);
    background-image: url("../img/advantage-number.svg");
    background-position: left center;
    background-repeat: no-repeat;
}
.advantages-number-text{
    line-height: 21px;
}


/*SECTION QUESTIONS*/
.questions{
    background-color: var(--primary-08);
}
.questions-header{
    display: flex;
    justify-content: space-between;
}
.questions-more{
    display: flex;
    align-items: center;
    font-weight: 800;
}
.questions-more p{
    margin-right: 10px;
    color: var(--primary-02);
}
.questions-more p::after{
    content: url(../img/icons/details.svg);
    margin-left: 10px;
}
.questions-box{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--radius-md);
    background: var(--white-100);
    gap: 20px;
}
.questions-categories{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%;
    min-width: 250px;
}
.questions-category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    border-radius: var(--radius-sm);
    transition: all 0.3s ease;
}

.questions-category.active {
    color: var(--primary-01);
    background-color: var(--primary-08);
}

.questions-category.active svg path {
    stroke: var(--primary-01);
    stroke-opacity: 1;
}

.questions-category:hover {
    background-color: var(--black-10);
}

.questions-category.active:hover {
    background-color: var(--primary-08);
}

.question-list-item[data-category] {
    display: none;
}

.question-list-item.visible {
    display: flex;
}

.question-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 70%;
}
.question-list-item {
    width: 100%;
    border-radius: var(--radius-md);
    background: rgb(249, 248, 254);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    transition: all 0.3s ease;
}

.question-list-item:hover{
    background-color: var(--primary-08);
}

.question-list-item input {
    display: none;
}
.faq-question {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    transition: background 0.3s;
}

.faq-question img{
    height: 24px;
    width: 24px;
}
.faq-answer {
    min-width: 100%;
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.question-list-item input:checked ~ .faq-answer {
    max-height: 250px; /* Достаточно для текста */
    padding: 15px 0 0 0;
}
.question-list-item input:checked + label img {
    transform: rotate(180deg);
}


/*SECTION LOCATIONS*/
.locations{
    background-color: var(--secondary-08);
}
.locations-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
    gap: 12px;
    border: 1px solid var(--black-10);
    border-radius: var(--radius-md);
    background-color: var(--white-100);
}
.locations-item{
    display: flex;
    gap: 10px;
    transition: all 0.3s ease;
}

.locations-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.locations-item-img{
    width: 80px;
    height: 80px;
    border: 1px solid var(--black-10);
    border-radius: var(--radius-md);
    padding: 10px;
}
.locations-item-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.locations-item-title{
    margin-top: 8px;
    font-size: 10px;
    line-height: 15px;
    color: var(--black-100);
}
.locations-item-title::before{
    content: url(../img/icons/location.svg);
    width: 16px;
    height: 16px;
}
.locations-item-details{
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    color: var(--primary-02);
}
.locations-item-details::after{
    content: url(../img/icons/details.svg);
    margin-left: 10px;
}


/*SECTION NEED HELP*/
.need-help{
    background-color: var(--purple-08);
}
.need-help-inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.need-help-text{
    font-size: 14px;
    line-height: 24px;
    color: var(--black-50);
}
.need-help-text:nth-child(1){
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    color: var(--black-50);
    margin-right: 10px;
}
.need-help-btn{
    width: 175px;
    height: 42px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: var(--white-100);
    border-radius: var(--radius-md);
}
.need-help-btn p{
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
}




/*ADAPTIVE*/
@media (max-width: 1440px) {
    .search-box-inner {
        padding-left: 0;
    }
}

@media (max-width: 1280px) {
    .search-container {
        max-width: 1050px;
    }
    .search-box-inner{
        height: 230px;
        padding: 0 24px;
    }
    .search-box-text {
        width: 480px;
    }
    .input-container {
        width: 635px;
    }
    .how-to-order-images{
        height: 214px;
    }
    .how-to-order-ellipse-1{
        width: 40%;
    }
    .how-to-order-hero{
        width: 90%;
    }
    .how-to-order-ellipse-2{
        width: 40%;
    }
}

@media (max-width: 1024px) {
    .search-box-img{
        width: 450px;
        height: 100%;
        mask-image: url('../img/search-mask-2.png');
        -webkit-mask-image: url('../img/search-mask-2.png');
    }
    .search-block{
        z-index: 2;
        padding-bottom: 34px;
    }
    .search-box-title{
        font-size: 16px;
    }
    .search-box-text{
        font-size: 14px;
    }
    .search-banner-content{
        width: 125px;
        padding: 12px 12px 0 12px;
    }
    .search-banner-text {
        min-height: 42px;
    }
    .top-experts-img{
        width: 48px;
        height: 48px;
    }
    .top-experts-country::before{
        width: 12px;
        height: 12px;
    }
    .top-experts-rating::before{
        width: 12px;
        height: 12px;
    }
    .how-to-order-images {
        height: 200px;
    }
    .who-need-it-inner {
        padding: 25px;
    }
    .who-need-it-images {
        max-width: 280px;
        height: 230px;
    }
    .who-need-it-hero {
        width: 235px;
        height: 185px;
    }
    .locations-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .search-banners{
        grid-template-columns: repeat(1, 1fr);
    }
    .search-banner{
        justify-content: space-between;
    }
    .search-banner-content{
        width: 100%;
    }
    .search-banner-text {
        width: 100%;
    }
    .search-banner-img{
        width: 500px;
    }
    .top-experts-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .how-to-order-images {
        height: 160px;
    }
    .who-need-it-left,
    .who-need-it-content{
        width: 50%;
    }
    .who-need-it-contact-lg{
        display: none;
    }
    .who-need-it-contact-md{
        display: block;
    }
    .questions-box {
        flex-direction: column;
        padding: 8px;
    }
    .questions-categories {
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
        padding-bottom: 10px;
    }
    .questions-category {
        min-width: 150px;
        white-space: nowrap;
    }
    .question-list {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .search-box-img{
        width: 350px; /* Требуемый размер для верстки */
        -webkit-mask-position: top;
        mask-position: top;
    }
    .search-box-text {
        width: 100%;
    }
    .input-container {
        width: 100%;
    }
    .search-btn{
        width: 42px;
    }
    .search-btn p{
        display: none;
    }
    .features-buttons-inner{
        grid-template-columns: repeat(4, 1fr);
    }
    .how-to-order-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .how-to-order-images {
        height: 214px;
    }
    .who-need-it-inner {
        flex-direction: column;
    }
    .who-need-it-left,
    .who-need-it-content{
        width: 100%;
    }
    .who-need-it-images{
        max-width: 316px;
        height: 268px;
    }
    .who-need-it-hero{
        width: 315px;
        height: 250px;
    }
    .who-need-it-title{
        text-align: center;
    }
    .who-need-it-link{
        margin: 20px auto 0;
    }
    .who-need-it-contact-md{
        display: none;
    }
    .who-need-it-contact-lg{
        display: block;
    }
    .advantages-banners {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .advantages-banner-title{
        min-height: 16px;
    }
    .advantages-banner-img {
        height: 100px;
    }
    .advantages-number-title{
        font-size: 28px;
    }
    .advantages-number-text{
        font-size: 10px;
    }
    .need-help {
        flex-direction: column;
        gap: 10px;
    }

}

@media (max-width: 640px) {

    .search-box-inner{
        height: 450px;
        position: relative;
    }
    .search-box-img{
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 200px;
        background-position: top right;
        background-size: cover;
        mask-image: url('../img/search-mask-3.png');
        -webkit-mask-image: url('../img/search-mask-3.png');
        mask-size: cover;
        -webkit-mask-position: top;
        mask-position: top;
    }
    .search-box {
        width: 100%;
    }
    .search-block{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .input-container {
        flex-direction: column;
    }
    .search-input-name,
    .search-input-place{
        height: 50px;
    }
    .divider{
        width: 100%;
        height: 1px;
    }
    .features-buttons-link{
        font-size: 12px;
        line-height: 18px;
    }
    .advantages-numbers{
        grid-template-columns: repeat(2, 1fr);
    }
    .advantages-number-title{
        font-size: 32px;
    }
    .advantages-number-text{
        font-size: 14px;
    }
    .questions-category {
        justify-content: center;
    }
    .questions-category svg {
        display: none;
    }
    .locations-pagination{
        display: flex;
        gap: 22px;
    }
    .need-help-inner{
        flex-direction: column;
    }
    .need-help-btn{
        margin: 12px auto 0;
    }
}

@media (max-width: 580px) {
    
    .top-experts-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .main-blog-img {
        width: 100px;
    }
    .main-blog-content {
        width: calc(100% - 100px);
    }
    .main-blog-item {
        height: auto;
        min-height: 180px;
    }
    .questions-categories {
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 8px;
        padding-bottom: 8px;
    }

    .questions-category {
        min-width: 100px;
        padding: 8px;
        font-size: 14px;
    }

    .faq-question p {
        font-size: 14px;
        line-height: 20px;
        width: calc(100% - 24px);
    }
}

@media (max-width: 480px) {
    .search-box-inner{
        height: 420px;
    }
    .search-box-img{
        height: 150px;
    }
    .search-banner-img{
        width: 150px;
    }
    .features-buttons-inner{
        display: flex;
        justify-content: space-around;
    }
    .features-buttons-link{
        padding: 6px;
    }

    .how-to-order-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .who-need-it-inner {
        padding: 12px;
    }
    .who-need-it-images {
        margin: 34px auto 10px;
    }
    .who-need-it-hero {
        width: 285px;
        height: 225px;
    }
    .who-need-it-ellipse-1 {
        position: absolute;
        top: -30px;
        left: -3px;
        z-index: 1;
    }
    .advantages-banners {
        grid-template-columns: repeat(1, 1fr);
    }
    .advantages-banner-title{
        min-height: 28px;
    }
    .advantages-number-title{
        font-size: 28px;
    }
    .advantages-number-text{
        font-size: 10px;
    }
    .locations-list {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .questions-category {
        font-size: 12px;
        padding: 10px;
        min-width: 0;
    }
    .need-help-btn{
        width: 100%;
    }
}

@media (max-width: 375px) {
    .search-box-inner{
        height: 450px;
    }
    .search-box-img{
        height: 150px;
    }
}